{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-login px-4">
    <div class="bg-white bg-opacity-70 p-8 rounded-lg shadow-lg max-w-md w-full">
        <h1 class="text-2xl font-bold text-center mb-6">Login</h1>
        <form method="POST" action="{% url 'main:login' %}">
            {% csrf_token %}
            <!-- Input untuk username -->
            <div class="mb-4">
                <input type="text" id="username" name="username" placeholder="Username" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300" required aria-label="Username">
            </div>
            <!-- Input untuk password -->
            <div class="mb-6">
                <input type="password" id="password" name="password" placeholder="Password" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300" required aria-label="Password">
            </div>
            <!-- Tombol Submit -->
            <div class="mb-4">
                <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 transition-colors">Sign in</button>
            </div>
        </form>
        <div class="text-center">
            Don't have an account yet?
            <a href="{% url 'main:register' %}" class="text-blue-500 hover:underline">Register now</a>
        </div>
    </div>
</div>
{% endblock content %}
