{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Floryn Shop</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="pt-16 min-h-screen bg-pink-200 flex flex-col justify-between pb-20"> 
  <div class="container mx-auto px-4">
    
    <!-- Menampilkan Informasi Pengguna -->
    <div class="flex justify-center mb-8">
      <div class="w-full max-w-2xl">
        {% include 'card_info.html' %}
      </div>
    </div>

    <!-- Menampilkan Daftar Produk Jika Ada -->
    {% if products %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-10">
        
        <!-- Button Tambah Produk Baru -->
        <div class="bg2-addproduct bg2-opacity-70 p-6 rounded-lg shadow-md flex items-center justify-center">
          <a href="{% url 'main:create_product' %}" class="bg-blue-500 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Product
          </a>
        </div>

        <!-- Menampilkan Produk yang Ada -->
        {% for product in products %}
        <div class="bg-white p-6 rounded-lg shadow-md">
            {% include 'card_product.html' %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- Jika Tidak Ada Produk, Maka akan Menampilkan Gambar Sedih dan Button Tambah Produk -->
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <a href="{% url 'main:create_product' %}" class="bg-blue-500 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded-lg mb-4 -mb-100 transition duration-300 ease-in-out">
          Add New Product
        </a>
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada produk pada Floryn Shop.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
